{% extends 'base.html' %}
{% block title %}
	Inicio | {{ block.super}}
{% endblock title %}
{% block container %}
<div class="jumbotron page-header">
      <h1>Projeto Crescer</h1>
      <p>
          Lembremo-nos de que o homem interior se renova sempre. A luta enriquece-o
          de experiência, a dor aprimora-lhe as emoções e o sacrifício tempera-lhe
          o caráter. O Espírito encarnado sofre constantes transformações por fora,
          a fim de acrisolar-se e engrandecer-se por dentro.
      </p>
      <p><a class="btn btn-primary">Saiba mais</a></p>
    </div>
{% endblock container%}
